In [17]:
import pandas as pd
from feature_engine.encoding import RareLabelEncoder, OneHotEncoder, CountFrequencyEncoder

In [18]:
X_train = pd.read_csv("Xtest_tvshows_mod.csv")
X_test = pd.read_csv("Xtrain_tvshows_mod.csv")
ytrain = pd.read_csv("ytrain_tvshows.csv")
ytest = pd.read_csv("ytest_tvshows.csv")
print("Shape of X Train: {}".format(X_train.shape))
print("Shape of X Test: {}".format(X_test.shape))
print("Shape of y Train: {}".format(ytrain.shape))
print("Shape of y Test: {}".format(ytest.shape))

Shape of X Train: (1074, 9)
Shape of X Test: (4294, 9)
Shape of y Train: (4294, 1)
Shape of y Test: (1074, 1)

In [19]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1074 non-null   int64
 1   Age              668 non-null    object
 2   IMDb             1074 non-null   float64
 3   Rotten_Tomatoes  1074 non-null   float64
 4   Netflix          1074 non-null   int64
 5   Hulu             1074 non-null   int64
 6   Prime Video      1074 non-null   int64
 7   Disney+          1074 non-null   int64
 8   Age_na           1074 non-null   int64
dtypes: float64(2), int64(6), object(1)
memory usage: 75.6+ KB

In [20]:
X_train_cat = X_train.select_dtypes(include=['object'])

In [21]:
for col in X_train_cat:
    cardinality = len(pd.Index(X_train[col].value_counts()))
    print(X_train[col].name + ": " + str(cardinality))

Age: 5

In [22]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1074 non-null   int64
 1   Age              668 non-null    object
 2   IMDb             1074 non-null   float64
 3   Rotten_Tomatoes  1074 non-null   float64
 4   Netflix          1074 non-null   int64
 5   Hulu             1074 non-null   int64
 6   Prime Video      1074 non-null   int64
 7   Disney+          1074 non-null   int64
 8   Age_na           1074 non-null   int64
dtypes: float64(2), int64(6), object(1)
memory usage: 75.6+ KB

In [23]:
X_train['Age'] = X_train['Age'].replace({'16+': 0,'18+': 0, '13+': 1, '7+': 1, 'all': 1})
X_train['Age'] = X_train['Age'].fillna(2)

In [24]:
X_train.head()

,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime Video,Disney+,Age_na
0,2015,2.0,6.8,10.0,0,0,1,0,1
1,2019,0.0,8.7,62.0,1,0,0,0,0
2,2017,2.0,6.6,13.0,0,0,1,0,1
3,2015,2.0,8.7,10.0,0,1,0,0,1
4,2018,0.0,7.2,62.0,1,0,0,0,0

In [25]:
X_train[['Age']].value_counts(normalize = True)

Age
2.0    0.378026
0.0    0.357542
1.0    0.264432
dtype: float64

In [26]:
X_train.head()

,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime Video,Disney+,Age_na
0,2015,2.0,6.8,10.0,0,0,1,0,1
1,2019,0.0,8.7,62.0,1,0,0,0,0
2,2017,2.0,6.6,13.0,0,0,1,0,1
3,2015,2.0,8.7,10.0,0,1,0,0,1
4,2018,0.0,7.2,62.0,1,0,0,0,0

In [27]:
X_train['Year'] = 2023 - X_train['Year']

In [28]:
X_train['Age'] = X_train['Age'].astype(int)

In [29]:
X_train.head()

,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime Video,Disney+,Age_na
0,8,2,6.8,10.0,0,0,1,0,1
1,4,0,8.7,62.0,1,0,0,0,0
2,6,2,6.6,13.0,0,0,1,0,1
3,8,2,8.7,10.0,0,1,0,0,1
4,5,0,7.2,62.0,1,0,0,0,0

In [31]:
X_train = X_train.drop(columns = ['Age_na'])

In [32]:
X_train.to_csv("Xtrain_tvshows_cat.csv",index=False)
X_test.to_csv("Xtest_tvshows_cat.csv",index=False)