In [2]:
import pandas as pd
from feature_engine.encoding import RareLabelEncoder, OneHotEncoder, CountFrequencyEncoder

In [3]:
X_train = pd.read_csv("Xtrain_tvshows_mod.csv")
X_test = pd.read_csv("Xtest_tvshows_mod.csv")
ytrain = pd.read_csv("ytrain_tvshows.csv")
ytest = pd.read_csv("ytest_tvshows.csv")
print("Shape of X Train: {}".format(X_train.shape))
print("Shape of X Test: {}".format(X_test.shape))
print("Shape of y Train: {}".format(ytrain.shape))
print("Shape of y Test: {}".format(ytest.shape))

Shape of X Train: (4294, 7)
Shape of X Test: (1074, 7)
Shape of y Train: (4294, 1)
Shape of y Test: (1074, 1)

In [4]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4294 entries, 0 to 4293
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             4294 non-null   int64
 1   IMDb             4294 non-null   float64
 2   Rotten_Tomatoes  4294 non-null   float64
 3   Netflix          4294 non-null   int64
 4   Hulu             4294 non-null   int64
 5   Prime Video      4294 non-null   int64
 6   Disney+          4294 non-null   int64
dtypes: float64(2), int64(5)
memory usage: 235.0 KB

In [5]:
X_train_cat = X_train.select_dtypes(include=['object'])

In [6]:
for col in X_train_cat:
    cardinality = len(pd.Index(X_train[col].value_counts()))
    print(X_train[col].name + ": " + str(cardinality))

In [7]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4294 entries, 0 to 4293
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             4294 non-null   int64
 1   IMDb             4294 non-null   float64
 2   Rotten_Tomatoes  4294 non-null   float64
 3   Netflix          4294 non-null   int64
 4   Hulu             4294 non-null   int64
 5   Prime Video      4294 non-null   int64
 6   Disney+          4294 non-null   int64
dtypes: float64(2), int64(5)
memory usage: 235.0 KB

In [8]:
X_train['Year'] = 2023 - X_train['Year']
X_test['Year'] = 2023 - X_test['Year']

In [9]:
X_train.head()

   Year  IMDb  Rotten_Tomatoes  Netflix  Hulu  Prime Video  Disney+
0     8   6.2             38.0        0     0            1        0
1    35   7.0             73.0        0     1            1        0
2     7   7.2             71.0        1     0            0        0
3     6   6.8             10.0        0     0            1        0
4     2   6.0             52.0        0     1            0        0

In [10]:
X_train.to_csv("Xtrain_tvshows_cat.csv",index=False)
X_test.to_csv("Xtest_tvshows_cat.csv",index=False)