In [66]:
import pandas as pd
from feature_engine.encoding import RareLabelEncoder, OneHotEncoder, CountFrequencyEncoder

In [67]:
X_train = pd.read_csv("Xtest_tvshows_mod.csv")
X_test = pd.read_csv("Xtrain_tvshows_mod.csv")
ytrain = pd.read_csv("ytrain_tvshows.csv")
ytest = pd.read_csv("ytest_tvshows.csv")
print("Shape of X Train: {}".format(X_train.shape))
print("Shape of X Test: {}".format(X_test.shape))
print("Shape of y Train: {}".format(ytrain.shape))
print("Shape of y Test: {}".format(ytest.shape))

Shape of X Train: (1074, 9)
Shape of X Test: (4294, 9)
Shape of y Train: (4294, 1)
Shape of y Test: (1074, 1)

In [68]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1074 non-null   int64
 1   Age              668 non-null    object
 2   IMDb             1074 non-null   float64
 3   Rotten_Tomatoes  1074 non-null   float64
 4   Netflix          1074 non-null   int64
 5   Hulu             1074 non-null   int64
 6   Prime Video      1074 non-null   int64
 7   Disney+          1074 non-null   int64
 8   Age_na           1074 non-null   int64
dtypes: float64(2), int64(6), object(1)
memory usage: 75.6+ KB

In [69]:
X_train_cat = X_train.select_dtypes(include=['object'])

In [70]:
for col in X_train_cat:
    cardinality = len(pd.Index(X_train[col].value_counts()))
    print(X_train[col].name + ": " + str(cardinality))

Age: 5

In [92]:
X_train = X_train.assign(Age_cat=0)

In [93]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1074 non-null   int64
 1   Age              668 non-null    object
 2   IMDb             1074 non-null   float64
 3   Rotten_Tomatoes  1074 non-null   float64
 4   Netflix          1074 non-null   int64
 5   Hulu             1074 non-null   int64
 6   Prime Video      1074 non-null   int64
 7   Disney+          1074 non-null   int64
 8   Age_na           1074 non-null   int64
 9   Age_cat          1074 non-null   int64
dtypes: float64(2), int64(7), object(1)
memory usage: 84.0+ KB

In [94]:
X_train['Age_cat'] = X_train['Age_cat'].astype(float)
print(X_train.dtypes)

Year                 int64
Age                 object
IMDb               float64
Rotten_Tomatoes    float64
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
Age_na               int64
Age_cat            float64
dtype: object

In [95]:
if 'Age' == '13+' or 'Age' == 'all' or 'Age' == '7+':
    X_train.loc[:, 'Age_cat'] = 0
elif 'Age' == '16+' or 'Age' == '18+':
    X_train.loc[:, 'Age_cat'] = 1
else:
    X_train.loc[:, 'Age_cat'] = 2

/var/folders/6c/psfs6v5j3mngf_5g8cbxk6bw0000gn/T/ipykernel_15558/2344849311.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  X_train.loc[:, 'Age_cat'] = 2

In [103]:
X_train.head()

,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime Video,Disney+,Age_na,Age_cat
0,2015,NaN,6.8,10.0,0,0,1,0,1,2
1,2019,16+,8.7,62.0,1,0,0,0,0,2
2,2017,NaN,6.6,13.0,0,0,1,0,1,2
3,2015,NaN,8.7,10.0,0,1,0,0,1,2
4,2018,16+,7.2,62.0,1,0,0,0,0,2